---
import Social from "./Social.astro";

const platform = 'github';
const username = 'googlicius';
---

<style>
    footer {
        display: flex;
        gap: 1rem;
        margin-top: 2rem;
    }
</style>

<footer>
    <p>Learn more about my projects on <a href={`https://www.${platform}.com/${username}`}>{platform}</a>!</p>
    <Social platform="twitter" username="dangnguyen" />
    <Social platform="github" username="googlicius" />
    <Social platform="youtube" username="astrodotbuild" />
</footer>
